{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        io.github.kotoba-lang/jp-go-digital-design-system
        {:git/url "https://github.com/kotoba-lang/jp-go-digital-design-system.git"
         :git/sha "581b68cb7699e4017d3532bc17e134a41be00fef"}}
 :aliases {:cljs {:extra-deps {org.clojure/clojurescript {:mvn/version "1.11.132"}
                                thheller/shadow-cljs {:mvn/version "2.28.20"}
                                reagent/reagent {:mvn/version "1.2.0"}
                                re-frame/re-frame {:mvn/version "1.4.3"}}}
           :test {:extra-paths ["test"]}}}
