;; app-manimani — single-page app, single build/module.
{:deps   {:aliases [:cljs :test]}
 :builds {:app  {:target :browser
                 :output-dir "public/js"
                 :asset-path "js"
                 :modules {:app {:init-fn manimani.app/main}}}
          :test {:target :node-test
                 :output-to "out/tests.js"
                 :ns-regexp "-test$"}}}
